{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <aside class="col col-12 col-md-4">
                <form action="" method="GET">
                    {% for filter in filters %}
                        <h5>{{ filter.title }}</h5>
                        {% for filterValue in filter.values %}
                            <div class="form-check">
                                <input
                                    class="form-check-input"
                                    name="filter[{{ filter.name }}][]"
                                    type="checkbox"
                                    value="{{ filterValue.id }}"
                                    id="flexCheckDefault-{{ filterValue.id }}"
                                    {{ checkedFilters[filterValue.id] is defined ? 'checked' : '' }}>
                                <label class="form-check-label" for="flexCheckDefault-{{ filterValue.id }}">
                                    {{ filterValue.value }} ({{ filterValue.count }})
                                </label>
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">
                        {{ 'filter' | trans }}
                    </button>
                </form>
            </aside>
            <main class="col col-12 col-md-8">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">{{ 'id' | trans }}</th>
                        <th scope="col">{{ 'title' | trans }}</th>
                        <th scope="col">{{ 'price' | trans }}</th>
                        <th scope="col">{{ 'attributes' | trans }}</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for product in products %}
                            <tr>
                                <th scope="row">{{ product.id }}</th>
                                <td>{{ product.title }}</td>
                                <td>{{ product.price }}</td>
                                <td>
                                    <ul>
                                        {% for attr in product.attributeValues %}
                                            <li>{{ attr.value }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="navigation">
                    {{ knp_pagination_render(products) }}
                </div>
            </main>
        </div>
    </div>
{% endblock %}
